# Build outputs
dist/
.next/
out/


# Go
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
DS_STORE
Thumbs.db


# Testing
coverage/