# --- Generated Go Code  ---
# This hides Protobuf and SQLC generated code from the language bar
internal/shared/pb/**/*.pb.go linguist-generated=true
internal/scalecp/db/sqlc/*.go linguist-generated=true

# --- Database Migrations & Init ---
internal/scalecp/db/migrations/*.sql linguist-generated=true
internal/scalecp/db/init/*.sql linguist-generated=true

# we are counting handcrafted proto and sql
internal/scalecp/db/queries/*.sql linguist-detectable=true
proto/**/*.proto linguist-detectable=true
